<html >
<!-- <section id="sm-banner" class="section-p1">
    <div class="banner-box">
        <h4>crazy deals</h4>
        <h2>buy 1 get 1 free</h2>
        <span>The best classic dress is on sale at cara</span>
        <button class="white">Learn More</button>
    </div>
    <div class="banner-box banner-box2">
        <h4>spring/summer</h4>
        <h2>upcoming season</h2>
        <span>The best classic dress is on sale at cara</span>
        <button class="white">Collection</button>
    </div>

</section>  -->
</section>
<section class="testimonial-slider">
    <div class="page-width">
        <h2>{{ section.settings.testimonial-slider }}</h2>
        <div data-aos="zoom-in" class="testimonial-track">

            {%- for block in section.blocks -%}
            <div class="testimonial-card">
                <div class="testimonial-meta">
                    <img src="{{ block.settings.avatar | img_url }}" alt="Testimonial Image" class="avatar">
                    <div class="author-meta">
                        <h3>{{ block.settings.name }}</h3>
                        <div class="star-rating">

                            {% for i in (1..5) %}
                            {% if i > block.settings.rating %}
                            {% break %}
                            {% else %}
                            <img src="{{ 'star1.png' | asset_url }}" alt="Star Rating">
                            {% endif %}
                            {% endfor %}

                        </div>
                    </div>
                </div>
                <div class="testimonial-content">
                    <p>{{ block.settings.testimonial }}</p>
                </div>
            </div>
            {%- endfor -%}

        </div>
    </div>
</section>





<!-- schema -->

{% schema %}
{
"name": "Testimonial Slider",
"settings": [
{
"id": "testimonial-slider",
"type": "text",
"label": "Add a testimonial slider"
}
],
"templates": ["index"],
"presets": [
{
"name": "Testimonial Slider",
"category": "Sliders"
}
],
"blocks": [
{
"name": "Testimonial Card",
"type": "testimonial-card",
"settings": [
{
"type": "image_picker",
"id": "avatar",
"label": "Avatar Image"
},
{
"type": "text",
"id": "name",
"label": "Name"
},
{
"type": "text",
"id": "testimonial",
"label": "Testimonial Content"
},
{
"type": "range",
"id": "rating",
"label": "Star Rating",
"default": 5,
"min": 0,
"max": 5
}
]
}
]
}
{% endschema %}



<!-- stylesheet -->


{% stylesheet %}
    
section.testimonial-slider {
margin-top: 2rem;
margin-bottom: 5rem;
}
.testimonial-card:before {
content: url('https://cdn.shopify.com/s/files/1/0616/2107/6216/t/4/assets/7074749.png?v=93442936136916552');
position:absolute;
right:1rem;
top:-3rem;
}
.testimonial-meta {
display: flex;
align-items: center;
}
.testimonial-meta img.avatar {
margin-right: 1rem;
width: 84px;
height: 84px;
}
.author-meta h3 {
margin: 0 0px 2px 0;
font-weight: bold;
font-size: 2rem;
}
.testimonial-card {
padding: 2rem;
border: 1px solid #707070;
margin: 0 9px;
position:relative;
margin-top: 30px;
}
.slick-slide .star-rating img {
display: inline!important;
}
button.slick-arrow {
background: black;
border: none;
padding: 2rem;
font-size: 0;
color: transparent;
position: absolute;
cursor: pointer;
}
button.slick-prev.slick-arrow {
left: -54px;
top: calc(50% - 27.5px);
}
button.slick-next.slick-arrow {
right: -55px;
top: calc(50% - 27.5px);
}
button.slick-prev.slick-arrow:before {
content:url('https://cdn.shopify.com/s/files/1/0616/2107/6216/t/4/assets/arrowleft.png?v=93442936136916552');
}
button.slick-next.slick-arrow:before {
content:url('https://cdn.shopify.com/s/files/1/0616/2107/6216/t/4/assets/chevron-left-solid-1.png?v=93442936136916552');
}
button.slick-arrow:hover {
opacity:0.75
}
.slick-dots li button {
font-size: 0;
line-height: 0;
display: block;
width: 20px;
height: 20px;
padding: 5px;
cursor: pointer;
color: transparent;
border: 0;
outline: none;
background: transparent;
}
.slick-dots li button:before {
font-family: 'slick';
font-size: 5rem;
line-height: 20px;
position: absolute;
top: 0;
left: 0;
width: 20px;
height: 20px;
content: '•';
text-align: center;
opacity: .25;
color: black;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
opacity: .75;
color: black;
}
.slick-dots li {
position: relative;
display: inline-block;
width: 20px ;
height: 20px ;
margin: 0 5px ;
padding: 0;
cursor: pointer;
}
.slick-dots {
position: absolute;
bottom: -25px ;
display: block;
width: 100%;
padding: 0;
margin: 0;
list-style: none;
text-align: center;
}
@media screen and (max-width:600px) {
button.slick-arrow {
display: none!important;
}
}

#sm-banner {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

#sm-banner .banner-box {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
background-image: url(/b17.jpg);
min-width: 580px;
height: 50vh;
background-size: cover;
background-position: center;
width: 45%;
align-items: flex-start;
padding: 30px;
}

#sm-banner h4 {
color: white;
font-size: 20px;
font-weight: 300;
}

#sm-banner h2 {
color: white;
font-size: 28px;
font-weight: 800;
}


#sm-banner span {
color: white;
font-size: 14px;
font-weight: 500;
padding-bottom: 15px;
}


#sm-banner .banner-box:hover button{
background: #088178;
border: 1px solid #088178;
cursor: pointer;
}

#sm-banner .banner-box2 {
background-image: url(assets\b10.jpg)
}
#banner3 .banner-box {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
background-image: url(/b7.jpg);
min-width: 30%;
height: 30vh;
background-size: cover;
background-position: center;
align-items: flex-start;
padding: 20px;
margin-bottom: 20px;
}

#banner3 h2 {
color: white;
font-weight: 900;
font-size: 22px;
}

#banner3 h4 {
color: #cce7d0;
font-weight: 800;
font-size: 15px;
}


#banner3{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
padding: 0 80px;
}

#banner3 .banner-box2 {
background-image: url(/b4.jpg);
}
#banner3 .banner-box3 {
background-image: url();
}


{% endstylesheet %}

<!-- scripts -->

{% javascript %}
$('.testimonial-track').slick({
infinite: true,
slidesToShow: 3,
slidesToScroll: 1,
dots: true,
responsive: [
{
breakpoint: 600,
settings: {
slidesToShow: 1,
slidesToScroll: 1,
}
}
]
});
{% endjavascript %}