<!-- html -->
<section class="testimonial-slider">
    <div class="page-width">
    <div class="testimonial-track">
        <div class="testimonial-card">
            <div class="testimonial-meta">
            <img src="{{ 'face1.png' | asset_url  }}" alt="Testimonial Image" class="avatar">
            <div class="author-meta">
            <h3> James Brown </h3>
            <div class="star-rating">
            <img src="{{ 'star.png' | asset_url }}" alt="Star Rating">
            <img src="{{ 'star.png' | asset_url }}" alt="Star Rating">
            <img src="{{ 'star.png' | asset_url }}" alt="Star Rating">
            <img src="{{ 'star.png' | asset_url }}" alt="Star Rating">
            <img src="{{ 'star.png' | asset_url }}" alt="Star Rating">
            </div>
            </div>
            </div>
            <div class="testimonial-content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio illum quas temporibus veritatis magnam ipsum omnis id, velit ea autem iusto amet, neque repellendus accusantium!</p>
            </div>
        </div>
    </div>
    </div>
</section>



<!-- schema -->

{% schema %}
{
    "name": "Testimonial Slider",
    "settings": [
    {
        "id": "testimonial-slider",
        "type":"text",
        "label":"Add a testimonial slider"
    }
    ],
    "templates": ["index"],
    "presets": [
    {
        "name": " Testimonial Slider",
        "category": "Sliders"
    }

    ]

}
{% endschema %}



<!-- stylesheet -->


{% stylesheet %}
    
.testimonial-meta {
    display: flex;
    align-items: center;
}

.testimonial-meta img.avatar {
    margin-right: 1rem;
    width: 84px;
    height: 84px;
}

.author-meta  h3 {
    margin: 0 0px 2px 0;
    font-weight: bold;
    font-size: 2rem;
}


.testimonial-card {
    padding: 2rem;
    border: 1px solid #707070;
}

{% endstylesheet %}

<!-- scripts -->

{% javascript %}


{% endjavascript %}